@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <br />
    <div class="jumbotron">
        <ul class="list-inline">
            <li><p><img src="/Media/construccion2.png" alt="Skytex" width="100%"></p></li>
            <li><h1><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> @Skytex.Recursos.Textos.strTitulo13</h1></li>
        </ul>
        <div class="alert alert-info" role="alert"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> @Skytex.Recursos.Textos.strTitulo14</div>
        <p><a class="btn btn-skytex btn-lg" href="@Url.Action("Index", "Home")" role="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> @Skytex.Recursos.Textos.strBoton6</a></p>
    </div>
</body>




