@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Skytex Mexico S.A. de C.V.<br />
    Paseo de la Reforma 2620-405 <br />
    Colonia Lomas Altas, Del. Miguel Hidalgo. <br />
    C.P. 11950, México D.F. <br />
    <abbr title="Telefono">Tel:</abbr>50 81 8940
    <abbr title="Telefono">Tel:</abbr>50 81 8946
</address>

<!--
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
-->