
@{
    ViewBag.Title = "SkyRug";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<ul class="list-inline">
    <li><img src="/Media/skytex.png" width="190" height="90" /></li>
</ul>
<br />
<div class="container">
    <div class="row">
        <div class="well well-lg">
            <h3>@ViewBag.Title <small>Skytex Mexico S.A de C.V.</small></h3>
        </div>
    </div>
</div>
<br />
<ul class="list-inline">
    <li><img src="/Media/skyrug.png" width="190" height="90" /></li>
    <li>
        Descripcion del trabajo que realiza el area de SkyRug
    </li>
</ul>
<br />
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/Media/logo_skytex.png" alt="...">
            <div class="caption">
                <h3>Nombre Imagen 1</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a interdum velit. Curabitur pulvinar nisi sit amet tincidunt pulvinar. Sed aliquet interdum mi vitae gravida.
                    Proin vel accumsan orci. Ut vel mauris ipsum. Sed et orci sollicitudin, ullamcorper felis in, consequat nisi
                </p>
                <p><a href="#" class="btn btn-primary" role="button">Mas Informacion</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/Media/logo_skytex.png">
            <div class="caption">
                <h3>Nombre Imagen 2</h3>
                <p>
                    Proin congue sit amet lorem eget pellentesque. Mauris quis ornare sem. In tempor nunc eu imperdiet euismod. Fusce cursus, nisl quis tincidunt vulputate, leo lacus accumsan neque,
                    quis gravida ex elit sit amet enim
                </p>
                <p><a href="#" class="btn btn-primary" role="button">Mas Informacion</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/Media/logo_skytex.png">
            <div class="caption">
                <h3>Nombre Imagen 3</h3>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec eget varius sem. Interdum et malesuada fames ac ante ipsum primis in faucibus</p>
                <p><a href="#" class="btn btn-primary" role="button">Mas Informacion</a></p>
            </div>
        </div>
    </div>
</div>

